* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --page-bg-colour: #fff;
    --page-text-colour: #000;
    --toolbar-bg-color: #eee;
    --toolbar-border-colour: #000;
    --button-bg-colour: #eee;
    --button-bg-colour-hover: #ddd;
    --button-border-colour: #444;
    --button-shadow-colour: rgba(151, 151, 151, 0.5);
}

.pad-left-md {
    padding-left: 1rem;
}

body {
    background-color: var(--page-bg-colour);
    color: var(--page-text-colour);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    /* Prevent appearance of scrollbar when dragging stamp to page edges */
    overflow: hidden;
}

#toolbar__container {
    background-color: var(--toolbar-bg-color);
    border-top: 1px solid var(--button-border-colour);
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 5rem;
    position: fixed;
    bottom: 0;
}

#canvas {
    background-color: #fff;
    width: 100vw;
}

.mouse__circle {
    position: absolute;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
    border: 2px solid #000;
    border-radius: 50%;
    z-index: 999;
}

/* Select and style all toolbar buttons */
/* //////////////////////////////////// */
[class^="toolbar__button"] {
    font-size: 1.5rem;
    text-shadow: 2px 4px 4px var(--button-shadow-colour);
    background-color: var(--button-bg-color);
    border: 1px solid var(--button-border-colour);
    border-radius: 5px;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    user-select: none;
}

[class^="toolbar__button"]:hover {
    background-color: var(--button-bg-colour-hover);
}

[class^="toolbar__button"]:active {
    background-color: var(--button-bg-colour-hover);
}
/* //////////////////////////////////// */

/* Select and style just the 'add custom stamp' button */
.toolbar__button--add-custom-stamp {
    color: #333;
    opacity: 0.5;
}

[class^="stamp__element"] {
    position: absolute;
    font-size: 2rem;
    text-shadow: 2px 4px 4px var(--button-shadow-colour);
    user-select: none;
}

/* .stamp__element--moving {
    z-index: 99;
} */

.stamp__element--dropped {
    z-index: auto;
}